@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CeliaGarcia;
  src: url("/font/CeliaGarcia.ttf");
}

html,
body {
  height: 100%;
}

body {
  font-family: CeliaGarcia;
}

/* board styles */

.board {
  @apply grid bg-[#007718]/20 gap-3 p-5 select-none;
}

.board--size-4 {
  @apply grid-cols-[repeat(4,min(15vw,100px))] grid-rows-[repeat(4,min(15vw,100px))];
}

.board--size-5 {
  @apply grid-cols-[repeat(5,min(14vw,90px))] grid-rows-[repeat(5,min(14vw,90px))];
}

.board--size-6 {
  @apply grid-cols-[repeat(6,min(13vw,80px))] grid-rows-[repeat(6,min(13vw,80px))];
}

.board--size-7 {
  @apply grid-cols-[repeat(7,min(12vw,70px))] grid-rows-[repeat(7,min(12vw,70px))];
}

.tile {
  @apply flex items-center justify-center rounded-xl text-2xl bg-[#ffffa5] opacity-[0.999] cursor-pointer hover:bg-[#ffffa5]/80 font-bold;
}

/* pane styles */

.menu {
  @apply rounded font-semibold uppercase py-2 px-4 flex flex-col items-center bg-[#9eaaff]/30;
}

.info {
  @apply flex flex-col items-center min-w-32 rounded-md bg-[#9eaaff]/30 font-semibold py-2 px-4 uppercase;
}

/* button styles */

.button {
  @apply flex items-center justify-center h-9 w-9 rounded-full transition-colors bg-[#124907]/20 hover:bg-[#124907]/10;
}

.hidden {
  @apply opacity-0 pointer-events-none;
}

[data-hidden] {
  @apply opacity-0 pointer-events-none;
}

.overlay {
  @apply absolute bg-black/50 inset-0 flex flex-col items-center justify-center select-none;
}
